In [1]:
import pandas as pd
from pandas.io.parsers import ParserError

In [2]:
# create a list to store the dataframes 
dataframe_list = []

# this is a log-files, which stores all infos if the data-import worked or not
file = open('log_file.txt', 'a+')
    

# iterate through the folders 1 to 4 (here: folder_1, folder_2, ... )
# output: 1, 2, 3
for folder in range(1, 4):
    
    # create two boolean variables for both kind of exceptions.
    parse_error = False
    file_not_found = False
    
    ### notice that for folder i, we have file name "data_i"
    ### create the file name
    try :
        file_name = 'data_' + str(folder) + '.csv'   
        # possible to put folders in common sub-folder called 'dataset'
        #data = pd.read_csv('dataset/'+ str(folder) +'/' +file_name, sep = ';')
        data = pd.read_csv(str(folder) +'/' + file_name, sep = ';')
          
    # if the error is ParserError, print file has incorrect format and set parse_error = True
    except ParserError:
        parse_error = True
        data = pd.read_csv('dataset/'+ str(folder) +'/' +file_name,  skiprows=4, sep = ';')
        dataframe_list.append(data)
        print(file_name, 'has incorrect format.')
    
    # if the error is FileNotFoundError, print file is missing and set file_not_found = True
    except FileNotFoundError:
        file_not_found = True
        print(file_name, 'is missing')
    
    # if no exception occurs,  append the dataframe to the list.
    else:
                     
        dataframe_list.append(data)
    # Now, in the end, update the log file.
    finally:
        if parse_error:
            file.writelines(file_name + ' has incorrect format\n')
        
        elif file_not_found:
            file.writelines(file_name + ' is missing.\n')
        
        else:
            file.writelines(file_name + ' is correct.\n')
        
        
file.close()

In [3]:
data

,SamAccountName,name,createTimestamp,PasswordExpired,PasswordLastSet,LastLogonDate
0,oefm-rechnungen,Name_98,28.03.2019 15:58,False,28.03.2019 15:58,NaN
1,mannsberger,Name_99,08.04.2019 12:49,False,05.06.2019 10:54,31.05.2019 09:07
2,plefka,Name_100,08.04.2019 12:50,False,23.04.2019 10:11,24.06.2019 08:57
3,Stojancic,Name_101,08.04.2019 12:52,False,02.05.2019 12:16,24.06.2019 08:28
4,noehrer,Name_102,23.04.2019 17:14,False,02.05.2019 08:40,17.06.2019 07:26
5,reichel,Name_103,23.04.2019 17:17,False,23.04.2019 17:17,15.06.2019 13:52
6,mirkovic,Name_104,23.04.2019 17:51,False,13.05.2019 08:03,17.06.2019 08:12
7,burgstaller,Name_105,23.04.2019 17:55,False,02.05.2019 09:55,15.06.2019 13:51
8,maisel,Name_106,23.04.2019 18:04,False,13.05.2019 09:45,16.06.2019 16:32
9,strunze,Name_107,23.04.2019 18:08,False,15.05.2019 13:39,15.06.2019 13:21
10,ueblauer,Name_108,23.04.2019 18:11,False,23.04.2019 18:11,07.05.2019 13:56
11,zyla,Name_109,24.04.2019 11:26,False,24.04.2019 11:26,17.06.2019 08:10
12,puerstinger,Name_110,24.04.2019 11:28,False,24.04.2019 11:28,15.06.2019 12:20
13,dilch,Name_111,24.04.2019 15:02,False,02.05.2019 10:14,21.06.2019 08:14
14,hauer,Name_112,25.04.2019 16:26,False,02.05.2019 09:34,17.06.2019 08:16
15,kontrolle,Name_113,30.04.2019 09:40,False,30.04.2019 09:40,NaN
16,Investment-West,Name_114,03.05.2019 09:00,False,03.05.2019 09:00,NaN
17,samsung-knox,Samsung Knox,07.05.2019 08:10,False,07.05.2019 08:10,07.05.2019 08:11
18,admin-hauer,Admin Hauer Wolfgang,07.05.2019 08:29,False,07.05.2019 08:32,17.06.2019 10:01
19,ho_303b,HO 303b,09.05.2019 10:29,False,09.05.2019 10:29,NaN